<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Choose Enemies</title>

  <script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/selectEnemy.js') }}"></script>
  <script src="{{ url_for('static', filename='js/postEnemy.js') }}"></script>
</head>

    <body>
      <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>
      
    <input id="textbox" type="text" />
    <p>
    <div id="enemySelect">
        <select id="select" size=15>
            {% for enemy in enemieslist %}
                <option value="{{ enemy.name }}">{{ enemy.name }}</option>
            {% endfor %}
        </select>
    </div>
    <p><button type="sumbit" class="btn addEnemy" id=#addEnemy>Add Enemy</button>
    <p>
    <p>
    <p>
    <input id="herotextbox" type="text" />
    <p>
    <div id="heroSelect">
        <select id="selecta" size=5>
            {% for hero in heroeslist %}
                <option value="{{ hero.name }}">{{ hero.name }}</option>
            {% endfor %}
        </select>
    </div>
    <p><button type="sumbit" class="btn addHero" id=#addHero>Add Hero</button>
    <p><button type="sumbit" class="btn addAllHeroes" id=#addAllHeroes>Add All Heroes</button>
    <p>
    <form action="{{ url_for('index') }}">
        <button type="submit" class="btn return" id=#returnToIndex>Return to Combat</button>
    </form>


    </body>
</html>