<div id="update" class="updated bit">
    <div id="mylist" class="default list">
      {% for item in mylist %}
        {% if item == nextitem %}
        <ul id=nextitem><b>{{ nextitem.name }} - <span id=result>{{nextitem.hp}}</span>hp - initiative: {{nextitem.initiative}}</b></ul>
          {% else %}
          <ul id=item>{{ item.name }} - {{item.hp}}hp - initiative: {{item.initiative}}</ul>
        {% endif %}
      {% endfor %}
    </div>

    <div id="weaponSelect" class="default list">
        <select size=3>
            {% for w in nextitem.weapons %}
            <option id=nextitem>{{ w.name }}</option>
            {% endfor %}
        </select>
      </div>
</div>